<div class="col s12 valign-wrapper content">

  <div class="col l6 offset-l6 s12 valign">
    <h1>
      Elektroniczne Przetwarzanie Informacji
    </h1>
  </div>
</div>

<div class="col s12 nammeDiv">
  <div class="col s10 offset-s1 center-align">
    <h2 id="namme">
      Autorka serwisu
    </h2>
  </div>
</div>

<div class="col s8 offset-s2 description">
  <p>

    <p style="text-align: left;">Nazywam się Iza i jestem studentką III roku na kierunku Elektroniczne Przetwarzanie Informacji.&nbsp;</p>
    <p style="text-align: left;">Jeżeli masz pytania związane z przedmiotami na tym kierunku, prowadzącymi zajęcia czy po prostu chcesz ze mną porozmawiać to pisz śmiało!<br><br> Z chęcią odpowiem na Twoje pytania.&nbsp;</p><br>
    <h2 style="text-align: center;"><strong>izabela.krzysztofik@wp.pl</strong></h2>
  </p>
</div>

<script>
$( document ).ready(function() {
  setTimeout(function(){
    $('html, body').animate({
        scrollTop: $("#namme").offset().top-100
    }, 2000);
  }, 1000);
});
</script>
