    <div class="col s12 valign-wrapper content">
      <div class="col l7 offset-l5 s12 valign">
        <% @degrees.each do |degree| %>
          <%= link_to degree.degree_name, degree, :class => "waves-effect waves-light grey btn-large position-button" %>
        <% end %>
        <a class="waves-effect waves-light grey btn-large modal-trigger enter" href="#modal1">
          <%= image_tag "enter.png", :class => "enterArrow" %>
          enter
        </a>
      </div>
    </div>


    <div class="col s12 nammeDiv">
      <div class="col s10 offset-s1 center-align">
        <h2 id="namme">
          Aplikacja dla kandydatów na studia Elektroniczne Przetwarzanie Informacji
        </h2>
      </div>
    </div>

    <div class="col s8 offset-s2 description">
      <p>

        <p>Autorem niniejszego serwisu jest Izabela Krzysztofik. Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji), przygotowanej pod kierunkiem dr. hab. Grzegorza Bilińskiego, prof. ASP, na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.</p>
<p>&nbsp;</p>
<h5 style="text-align: center;"><strong>Znajdziesz tutaj informacje o przedmiotach, o możliwościach, jakie otwierają się przed absolwentami EPI oraz o umiejętnościach jakie możesz nabyć studiując z nami!&nbsp;</strong></h3>
<p>Serwis internetowy został stworzony dla kandydat&oacute;w na studia na kierunku Elektroniczne Przetwarzanie Informacji, a także dla wszystkich, kt&oacute;rzy chcą zapoznać się z tematyką tego kierunku.&nbsp;</p>
<p>Powstał po to, aby zaprezentować Wam, co to jest "EPI" i czego możesz się nauczyć będąc studentem tego kierunku.&nbsp;</p><br><br>

  <p style="text-align: center;">Jeżeli chcesz rozpocząć swoje poszukiwania, aby dowiedzieć się co czeka każdego studenta EPI</p>
  <p style="text-align: center;">Przejdź do zakładki "Start" i poznaj nasze najskrytsze&nbsp;tajemnice!&nbsp;</p>

      </p>
    </div>


    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Jak rozpocząć?</h4><br><br>
        <h6>
          Aby znaleźć przedmiot musisz najpierw wybrać, którego stopnia studia Cię interesują.<br><br> Masz do wyboru I Stopień
          , czyli studia licencjackie oraz II Stopień, czyli magisterium. <br><br>Aby uzyskać pomoc w dalszych etapach,
          naciśnij przycisk "Enter".<br><br><br>
          Powodzenia!
        </h6>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn">
          Rozpocznij
        </a>
      </div>
    </div>


    <script>
      $(document).ready(function(){
      $('.modal-trigger').leanModal();
      $('.backspace').remove();
      });

      $( document ).ready(function() {
        setTimeout(function(){
          $('html, body').animate({
              scrollTop: $("#namme").offset().top-80
          }, 2000);
        }, 1000);
      });

    </script>
