<div class="col s12 valign-wrapper content">

  <div class="col l6 offset-l6 s12 valign">
    <h1>
      Elektroniczne Przetwarzanie Informacji
    </h1>
  </div>
</div>

<div class="col s12 nammeDiv">
  <div class="col s10 offset-s1 center-align">
    <h2 id="namme">
      Źródła informacji
    </h2>
  </div>
</div>

<div class="col s8 offset-s2 description">
  <p>

    <h4 style="text-align: center;">Chcesz dowiedzieć się więcej?&nbsp;</h4><br>
    <ul style="list-style-type: circle;">
    <li style="text-align: center;"><a href="http://www.epi.uj.edu.pl/">Strona internetowa Elektronicznego Przetwarzania Informacji</a></li>
    <li style="text-align: center;"><a href="http://www.klk.uj.edu.pl/">Strona internetowa Katedry Lingwistyki Komputerowej</a></li>
    <li style="text-align: center;"><a href="https://www.usosweb.uj.edu.pl/">Uniwersytecki Systemu Obsługi Studiów Uniwersytetu Jagiellońskiego</a></li>
    </ul>

  </p>
</div>

<script>
$( document ).ready(function() {
  setTimeout(function(){
    $('html, body').animate({
        scrollTop: $("#namme").offset().top-100
    }, 2000);
  }, 1000);
});
</script>
