<div class="col s12 content valign-wrapper">

  <div class="col l7 offset-l5 s12 valign">
    <h1>
      <%= @degree.degree_name %>
    </h1>

    <% @degree.college_levels.each do |level| %>
    <%= link_to level.college_level_name, subjects_path(college_level_id: level.id), :class => "waves-effect waves-light grey btn-large position-button"%>
    <% end %>
  </div>
</div>
<a class="waves-effect waves-light grey btn-large modal-trigger enter" href="#modal1">
  <%= image_tag "enter.png", :class => "enterArrow" %>
  pomoc
</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Jak rozpocząć?</h4><br><br>
    <h6>Aby znaleźć przedmiot musisz najpierw wybrać rok.<br><br> Masz do wyboru I, II lub III rok. <br>
Aby uzyskać pomoc w dalszych etapach,
naciśnij przycisk "Enter".<br><br><br>
Powodzenia!</h6>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-large">Rozpocznij</a>
  </div>
</div>

<script>
$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>
