// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#logo {
    background-position: top center;
    background-size: cover;
    background: url('logoend.png') no-repeat scroll;
    padding: 10px 0 0 0;
}
.btn, .btn-large {
    background: url('pusty.png') no-repeat center center scroll;
    border-radius: 10px;
}
.button-div {
  padding: 300px 0px 10px 100px;
}
